
.text10black { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration:none; }
.text10black:link { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration:none; }
.text10black:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration:none; }
.text10black:hover { color: #000000; /*text-decoration:underline; */}

.text10red { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #D00000; text-decoration:none; }
.text10red:link { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #D00000; text-decoration:none; }
.text10red:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #D00000; text-decoration:none; }
.text10red:hover { /*text-decoration:underline;*/ }

.text10 { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #004a25; text-decoration:none; }
.text10:link { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #004a25; text-decoration:none; }
.text10:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #004a25; text-decoration:none; }
.text10:hover { color: #DD9900;/* text-decoration:underline; */}

.text10gray { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #999999; text-decoration:none; }
.text10gray:link { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #999999; text-decoration:none; }
.text10gray:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #999999; text-decoration:none; }
.text10gray:hover { color: #cc6600; /*text-decoration:underline;*/ }

.text11 { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #78797b; text-decoration:none; }
.text11:link { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #78797b; text-decoration:none; }
.text11:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #78797b; text-decoration:none; }
/*	.text11:hover { color: #DD9900; text-decoration:underline; }*/

.text11blue { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #005f8c; text-decoration:none; }
.text11blue:link { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #005f8c; text-decoration:none; }
.text11blue:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #005f8c; text-decoration:none; }
.text11blue:hover { color: #008bce; /*text-decoration:underline; */}

.text11black { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration:none; }
.text11black:link { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration:none; }
.text11black:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration:none; }
.text11black:hover { color: #000000; /*text-decoration:underline;*/ }

.text11white { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration:none; }
.text11white:link { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration:none; }
.text11white:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration:none; }
.text11white:hover { color: #C8C8C8; /*text-decoration:underline;*/ }

.text11red { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration:none; }
.text11red:link { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration:none; }
.text11red:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration:none; }
.text11red:hover { /*text-decoration:underline;*/ }

.text12 { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration:none; }
.text12:link { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration:none; }
.text12:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration:none; }
.text12:hover { color: #78797b; /*text-decoration:underline;*/ }

.text12green { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #78797b; text-decoration:none; }
.text12green:link { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #78797b; text-decoration:none; }
.text12green:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #78797b; text-decoration:none; }
.text12green:hover { color: #78797b;/* text-decoration:underline;*/ }

.text14 { font-family: Verdana, Helvetica, sans-serif; font-size: 14px; color: #000000; text-decoration:none; }
.text14:link { font-family: Verdana, Helvetica, sans-serif; font-size: 14px; color: #000000; text-decoration:none; }
.text14:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 14px; color: #000000; text-decoration:none; }
.text14:hover { color: #9E5793; /*text-decoration:underline;*/ }

.formField { border-width:1;
						 border-color:#9E5793;
						 border-style:solid;
}
									
.msg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #CCCCCC;
	margin: 5px;
	padding: 5px;
	border: thin dotted #78797b;
}


.bordercolor{
 border:solid 1px ;
 border-color:#004a25;
}

.hindiStatement{
   font-size:1.10em;
}

.bengaliStatement{
   font-size:1.1em;
}

.text11Link { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #78797b; text-decoration:underline; }

.fieldsetclass {
	border:2px solid #78797b;
	color: #78797b;
	background-color: #E9E9E9;
	border-radius: 10px;
	padding: 5px;
}

sup { vertical-align: top; position: relative; top: -0.5em; }	

/*.row {float:inherit;}*/

/*.text11 tr td { border:1px solid #000; padding:3px; }*/
.text-scroll tr td { border:1px solid #000; padding:3px; }
.text-scroll tr th { border:1px solid #000; padding:3px; }