html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video { border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }
body { line-height: 1; *overflow-x:hidden
}
html, body { margin: 0; padding: 0; height: 100%; }
.wrapper { min-height: 100%; position: relative;  }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote,.footer { display: block; }
nav ul { list-style: none; }
/*ol { list-style: decimal; }*/
ul { list-style: disc; }
ul ul { list-style: circle; }
p { padding: 0 0 20px }
.fleft { float: left!important }
.fright { float: right!important }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input[type=submit], input[type=button], button { margin: 0!important; padding: 0!important; }
input, select, a img { vertical-align: middle; }
/*Site Css Starts*/
body { background: #f5f6f7; font: 14px/18px Arial, Helvetica, sans-serif; }
a { color: #5191d1; text-decoration: none }
.body-con { padding-bottom: 44px; overflow: hidden }
.page-mid { width: 990px; margin: 0 auto; }
.page-mid2 { width: 98%; margin: 0 auto; min-width: 990px }
.page-mid-small { max-width: 780px }
header { border-top: 3px solid #d6140e; background: url(../images/sprite.png) repeat-x 0 bottom; padding: 0 0 7px }
.header-inner { height: 53px; background: #fff; padding: 6px 0 0 }
.logo { float: left }
.head-right { float: right; margin: 3px 0 0 }
.user-info { float: left; border-right: 1px solid #cbcbcb; padding: 3px 15px 5px 0; color: #767676 }
.user-info .img { float: left }
.user-info .img img { float: left; width: 36px; height: 36px }
.user-info .detail { margin: 0 0 0 41px; font-weight: bold }
.user-info span { display: block; font-weight: normal; font-size: 12px }
header .action { float: left; padding: 8px 0 0 8px }
.logo { float: left;/* width: 139px;*/ height: 46px }
.q-outer { width: 100%; float: left; }
header .action ul, header .action ul li { float: left; list-style: none; position: relative }
header .action ul li { margin: 0 0 0 8px; }
header .action ul li > a, .top-gray-btn { float: left; line-height: 26px; padding: 0 7px; border: 1px solid #cecece; color: #91969d; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius:5px; background: #f5f6f7; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f5f6f7), to(#e9eaeb)); background: -webkit-linear-gradient(#f5f6f7, #e9eaeb); background: -moz-linear-gradient(#f5f6f7, #e9eaeb); background: -ms-linear-gradient(#f5f6f7, #e9eaeb); background: -o-linear-gradient(#f5f6f7, #e9eaeb); background: linear-gradient(#f5f6f7, #e9eaeb); -pie-background: linear-gradient(#f5f6f7, #e9eaeb); position: relative; width: 55px;behavior: url(js/PIE.htc); }
header .action a span, .top-gray-btn span { width: 15px; height: 15px; display: inline-block; margin: 5px 5px 0 0; float: left }
header .action a.exit span, .top-gray-btn.exit span { background-position: -23px 0 }
header .action li.mexit span { background-position: 0 -46px; margin-right: 7px }
header .action li.texit span { background-position: -25px -46px; margin-right: 7px }
header .action .drop { display: none; position: absolute; top: 25px; right: 0; width: 119px }
header .action li:hover .drop { display: block }
header .action .drop ul { border: 1px solid #cecece; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; behavior: url(js/PIE.htc); background: #ebeced; width: 126px; padding: 6px; position: relative }
header .action .drop a { display: block; width: auto; float: none; background: none!important; border: 0; font-size: 13px; -pie-background: none!important }
header .action .drop li { width: 100%; margin: 0; border-bottom: 1px solid #dfe0e1 }
header .action .drop li.last { border-bottom: 0 }
header .action .drop .arrow { width: 69px; border: 1px solid #cecece; border-width: 0 1px; float: right; background: #e9eaeb; height: 10px; margin: 0 0 -1px; z-index: 1; position: relative }
header .action a:hover { color: #5191d1 }
.time { float: right; color: #9ca6b2; font-size: 30px; line-height: 30px; margin:4px 0 0 }
.time span { background-position: -46px 0; float: left; width: 23px; height: 23px; margin: 5px 6px 0 0 }
.ico, .disabledbtn .ico { background-image: url(../images/sprite.png); background-repeat: no-repeat }
.row { width: 100%; float: left }
h1 { font-size: 25px; font-weight: bold; color: #91969d; line-height: 22px; padding: 5px 0 10px; float: left; height: 26px; min-height: 26px; height: auto !important; }
h1 span { font-size: 13px; color: #747474; display: inline-block; border-left: 1px solid #cbcbcb; padding: 0 0 0 10px; margin: 0 0 0 8px; position: relative; top: -4px; font-weight: normal }
.page-sec { background: #fff; border: 1px solid #e0e4e8; width: 100%; float: left; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; behavior: url(js/PIE.htc); }
.page-sec-inner { width: 100%; float: left; overflow: auto; overflow-x: hidden }
.info { color: #4B78A4; font-size: 13px; padding: 15px 10px; line-height: 17px }
.info span { background-position: -75px 0; width: 24px; height: 24px; float: left }
.info .text { display: block; margin: 4px 0 0 35px }
.q-head { width: 100%; float: left; margin: 0 0 35px; border-bottom: 1px solid #e0e4e8; height: 15px }
.q-head span { float: left; line-height: 20px; padding: 5px 17px; color: #fff; background: #d6140e; border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; }
.q-head span.blue { background: #5191d1 }
.q-head span.green { background: #7ac24f }
.q { margin: 20px; margin-top: 0; color: #4a4b4d }
.q li { list-style: none; padding: 0 0 10px; width: 100%; float: left }
/*.q li label { display: block; padding: 4px 0 4px 22px; margin: 0 0 2px }
.q li label.odd { background: #f1f1f1; margin-right: -40px; position: relative }
.q li strong { font-size: 15px; font-weight: bold }
.q .opt { padding: 20px 0 0; width: 100%; float: left; margin: 0 }
.q li input[type="checkbox"], .q li input[type="radio"] { float: left; margin: 2px 8px 0 -22px; padding: 0; width: 14px; height: 14px }
.dash-bor li { padding: 0 0 13px; margin: 0 0 13px; border-bottom: 1px dashed #ccc }
.dash-bor li.last { border-bottom: none; margin-bottom: 0; }
.q .opt.cols { padding: 5px 0 0 20px; width: auto; float: none }
.q .opt.cols label { float: left; width: auto; margin: 0 35px 0 0; padding: 0 0 0 22px }
.q .opt.cols label.last { margin: 0 }
.q .opt.cols3 label { width: 220px; padding-bottom: 5px; *padding-bottom:0}
*/


.q li .cols { display: block; padding: 4px 0 4px 22px; margin: 0 0 2px }
.q li .cols.odd { background: #f1f1f1; margin-right: -40px; position: relative }
.q li strong { font-size: 14px; font-weight: bold }
.q .opt { padding: 20px 0 0; width: 100%; float: left; margin: 0 }
.q li input[type="checkbox"], .q li input[type="radio"] { float: left; margin: 2px 8px 0 -22px; padding: 0; width: 14px; height: 14px }
.dash-bor li { padding: 0 0 13px; margin: 0 0 13px; border-bottom: 1px dashed #ccc }
.dash-bor li.last { border-bottom: none; margin-bottom: 0; }
.q .opt.colsbox { padding: 5px 0 0 20px; width: auto; float: none }
.q .opt.colsbox .cols { float: left; width: auto; margin: 0 35px 0 0; padding:0 0 0 22px }
.q .opt.colsbox .cols.last { margin: 0 }
.q .opt.cols3 .cols { width: 240px; padding-bottom: 5px; *padding-bottom:0}




.opt-row { display: block; padding:0 0 10px }
.opt-row label { display: inline-block!important; padding:0 0 0 22px }
.q .qred { font-size: 15px; color: #d6140e }
.red { color: #d9001f }
.btn-row { text-align: center; padding: 20px 0 0 }
button { border: none; cursor: pointer; display: inline-block; *display: inline;
height: auto; margin: 0; outline: none; overflow: visible; position: relative; *zoom: 1;
}
.btn { border: none; display: inline-block; background: none; cursor: pointer; padding: 0; margin: 0; font-size: 13px; white-space: nowrap; overflow: visible }
.btn > span { line-height: 36px; height: 36px; color: #fff; padding: 0 10px 0 35px; background: #3ecd7e; border: none; display: block; margin: 0 2px; font-size: 13px; border-radius:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; behavior: url(js/PIE.htc); position: relative; width: 92px; background: #3fcf7f; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3fcf7f), to(#3cc579)); background: -webkit-linear-gradient(#3fcf7f, #3cc579); background: -moz-linear-gradient(#3fcf7f, #3cc579); background: -ms-linear-gradient(#3fcf7f, #3cc579); background: -o-linear-gradient(#3fcf7f, #3cc579); background: linear-gradient(#3fcf7f, #3cc579); -pie-background: linear-gradient(#3fcf7f, #3cc579) }
.btn.red-btn > span { background: #ff5f5f; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff5f5f), to(#f25a5a)); background: -webkit-linear-gradient(#ff5f5f, #f25a5a); background: -moz-linear-gradient(#ff5f5f, #f25a5a); background: -ms-linear-gradient(#ff5f5f, #f25a5a); background: -o-linear-gradient(#ff5f5f, #f25a5a); background: linear-gradient(#ff5f5f, #f25a5a); -pie-background: linear-gradient(#ff5f5f, #f25a5a) }
.btn.w95-btn > span { width: 55px }
.btn > span span { width: 22px; height: 22px; float: left; margin: 7px 0 0 6px; position: absolute; left: 0; top: 0 }
button.btn > span { *line-height: 32px;
*margin:0 4px
}
button.btn > span span { *margin-top:5px
}
.btn.confirm > span span { background-position: -22px -19px }
.btn.continue > span span { background-position: 0 -19px }
.btn.continue > span { background: #4d8bc8; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4d8bc8), to(#4d8ac6)); background: -webkit-linear-gradient(#4d8bc8, #4d8ac6); background: -moz-linear-gradient(#4d8bc8, #4d8ac6); background: -ms-linear-gradient(#4d8bc8, #4d8ac6); background: -o-linear-gradient(#4d8bc8, #4d8ac6); background: linear-gradient(#4d8bc8, #4d8ac6); -pie-background: linear-gradient(#4d8bc8, #4d8ac6) }
.btn.resume-btn > span span { background-position: -135px -25px }
.btn.resume-btn > span { width: auto }
.btn.resume-btn { float: left }
.ml90 { margin-left: 90px!important }
.btn-gray { border: none; display: inline-block; background: none; cursor: pointer; padding: 0; margin: 0; font-size: 13px; white-space: nowrap; overflow: visible }
.btn-gray > span { line-height: 30px; height: 30px; color: #585c62; padding: 0 16px 0 30px; border: none; display: block; margin: 0 2px; font-size: 13px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; behavior: url(js/PIE.htc); position: relative; background: #f5f6f7; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f5f6f7), to(#e9eaeb)); background: -webkit-linear-gradient(#f5f6f7, #e9eaeb); background: -moz-linear-gradient(#f5f6f7, #e9eaeb); background: -ms-linear-gradient(#f5f6f7, #e9eaeb); background: -o-linear-gradient(#f5f6f7, #e9eaeb); background: linear-gradient(#f5f6f7, #e9eaeb); -pie-background: linear-gradient(#f5f6f7, #e9eaeb); border: 1px solid #cecece }
.btn-gray > span span { width: 18px; height: 22px; float: left; margin: 7px 0 0 6px; position: absolute; left: 0; top: 0 }
.confirm > span span { background-position: -106px -28px }
.cancel > span span { background-position: -143px -74px }
.reset > span span { background-position: -106px 1px }
.back > span span { background-position: -132px 4px }
.big-btn > span { height: 38px; line-height: 38px; font-size: 16px; font-weight: bold; color: #91969d; padding-left: 35px }
.big-btn > span span { height: 25px; line-height: 25px; font-size: 16px; font-weight: bold; color: #91969d; padding: 0; line-height: 38px; width: 25px }
.close-btn > span span { background-position: -168px 1px }
.back > span { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding-right: 18px; height: 36px; line-height: 36px }
.confirm-center > span span { left: 22px }
footer  , .footer{ position: absolute; bottom: 0; left: 0; border-top: 1px solid #cfd1d3; padding: 5px 0; color: #a6aaae; font-size: 11px; text-align: right; width: 100%; background: #e4e6e8 }
/*Q3*/
.two-col { background: url(../images/sprite2.png) repeat-y -704px 0 }
.two-col .left-col { float: left; width: 50% }
.two-col .right-col { float: right; width: 50% }
.text-sec { font-size: 12px; line-height: 18px; color: #3a3a3a }
.text-sec h3 { color: #54799e; font-size: 13px; font-weight: bold; padding: 0 0 15px }
.text-scroll, .scroll-inner { overflow-y: auto; overflow-x: auto; }
.text-scroll { margin: 0 }
.p12 { padding: 12px!important }
.p20 { padding: 20px!important }
.pt20 { padding-top: 20px!important }
.plr20 { padding: 0 20px!important }
.mt30 { margin-top: 30px!important }
.mt20 { margin-top: 20px!important }
.mt10 { margin-top: 10px!important }
.pb15 { padding-bottom: 20px!important }
/*cci6*/
.q .select-opt { padding: 10px 0 0 20px }
.q .select-opt label { padding: 0; float: left; line-height: 24px; margin: 0 }
.q .select-opt .col { float: left; padding: 0 23px 0 0 }
.q .select-opt select { width: 200px }
.q .select-opt input[type="text"] { width: 190px }
select, input[type="text"], input[type="password"], input[type="email"], textarea { border: 1px solid #cfcfcf; padding: 2px; font-size: 12px; height: 24px; line-height: 20px }
textarea { width: 342px; height: 80px; font-family: Arial, Helvetica, sans-serif }
input[type="text"] { padding: 2px 5px; height: 20px; }
.input-wrapper { float: left }
textarea:focus, select:focus, input:focus { border-color: #66afe9!important; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
.w150 { width: 150px; }
.w120 { width: 120px; }
.q .grid-opt { border: 1px solid #d2d2d2; float: left; width: 100% }
.q .grid-opt .head { background: #f2f8fe; border-bottom: 1px solid #d2d2d2; }
.q .grid-opt .col { width: 49.5%; float: left; border-right: 1px solid #d2d2d2 }
.q .grid-opt .labelcols { display: block; padding: 25px 20px; margin: 0 }
.q .grid-opt .col2 { width: 19.5%; float: left; border-right: 1px solid #d2d2d2 }
.q .grid-opt .col2 input { margin: 2px 4px 0 0 }
.q .grid-opt .last { border: none }
.table { border: 1px solid #d2d2d2; border-right: 0 }
.table th { background: #f2f8fe; text-align: left; color: #4a4b4d; font-weight: bold }
.table th, .table td { padding: 8px 10px; border-bottom: 1px solid #d2d2d2; border-right: 1px solid #d2d2d2 }
.table th{text-align: center;}
.table2 th { color: #4b7bab; padding: 12px 10px }
.table .name { color: #345a80; font-weight: bold }
.table.resume-table { font-size: 14px }
.table.resume-table label { color: #345a80; font-size: 14px; font-weight: bold; padding: 0 0 0 25px; display: block }
.table.resume-table label input { margin: 2px 0 0 -25px; float: left }
.table.resume-table th { font-size: 14px; color: #4a4b4d }
input[type="checkbox"], input[type="radio"] { width: 14px; height: 14px; padding: 0; margin: 0 }
.cblue { color: #5191d1 }
.tacenter { text-align: center!important }
.w75 { width: 75px!important }
.w200 { width: 200px!important }
.set-of-tasks h3 { cursor: pointer; color: #4f4f4f; padding: 0 0 0 20px; margin: 0 0 3px; font-size: 12px }
.set-of-tasks h3 span { background: url(../images/sprite.png) no-repeat -70px -30px; width: 16px; height: 16px; float: left; margin: 2px 0 0 -20px }
.set-of-tasks h3.active span { background-position: -50px -30px }
.set-of-tasks .hide { height: 0; overflow: hidden }
.set-of-tasks .hide p { padding: 0; margin: 0 }
/*login*/

.login-outer { position: absolute; top: 50%; left: 50%; width: 340px; margin: -205px 0 0 -170px }
.login-outer .logo { text-align: center; padding: 0 0 20px; width: 100%; height: auto }
.login-outer .logo img { margin-right: 10px }
.login-box { position: relative;background: #fff; border: 1px solid #e0e4e8; width: 292px; float: left; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; behavior: url(js/PIE.htc); padding: 13px 23px }
.login-box #loading{display:none;position: absolute;background: #ccc;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.2;}
.login-box #loading img{position: absolute;left: 50%;top: 50%;margin: -35px 0 0 -35px;}
.lform { font-size: 12px }
.lform .row { padding: 0 0 10px }
.lform label { display: block; color: #4a4b4d; padding: 0 0 3px }
.lform .input { width: 290px; float: left; position:relative }
.lform .input input { width: 238px; float: left; font-size: 13px; padding: 8px; height: 18px; position:relative; margin-left:34px }
.lform .input span { width: 34px; height: 34px; float: left; background: #d1d1d1 url(../images/sprite.png) no-repeat 8px -67px; border: 1px solid #d1d1d1; position:absolute; left:0; top:0 }
.lform .input span.pas { background-position: -26px -67px }
.lform .input span.key { background-position: -63px -67px }
.lform .input span.aid { background-position: -97px -69px }
.lform .btn-row { padding: 5px 0 }
.btn.login > span { width: 41px }
.btn.login > span span { background-position: -80px -45px; margin: 8px 0 0 10px }
.re-confirm-form label { width: 72px; text-align: right; float: left; padding: 7px 22px 0 0 }
.re-confirm-form .input { float: left; margin: 0 }
/*Popup*/
.popup-outer { position: fixed; top: 0; left: 0; width: 100%; float: left;z-index: 99999;}
.overlay { position: fixed; left: 0; top: 0; width: 100%; height: 3000px; background: #000; opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; z-index: 2;}
.popup { width: 460px; margin: 12% auto 0; position: relative; z-index: 20; }
.popup-inner { background: #fff; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(js/PIE.htc); -moz-box-shadow: 0px 0px 10px #525252; -webkit-box-shadow: 0px 0px 10px #525252; box-shadow: 0px 0px 10px #525252 }
.popup .close { float: right; width: 15px; height: 15px; background: url(../images/sprite.png) no-repeat -174px -78px; margin: 4px -10px 0 0 }
.popup .close2 { float: right; width: 21px; height: 21px; background: url(../images/sprite.png) no-repeat -144px -101px; position: absolute; right: -8px; top: -8px }
.barcode-popup { width: 198px; margin: 17% auto 0; }
.barcode-popup .popup-inner { padding: 15px; float: left }
.header { background: #456b9b; color: #fff; padding: 10px 23px; line-height: 22px; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; behavior: url(js/PIE.htc); position: relative }
.popup h3 { font-size: 18px; font-weight: bold }
.create-test { position: absolute; top: 50%; left: 50%; margin: -84px 0 0 -100px; width: 228px; height: 200px; }
.create-test ul { list-style: none;padding-left: 0 !important}
.create-test li { width: 100%; float: left; padding: 0 0 20px }
.btn2 { width: 169px; display: inline-block; line-height: 52px; height: 52px; color: #fff; padding: 0 0 0 30px; text-align:center; border: none; margin: 0 2px; font-size: 13px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; behavior: url(js/PIE.htc); position: relative; font-size: 20px; font-weight: bold; position: relative; background: #4bd287; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4bd287), to(#3cc579)); background: -webkit-linear-gradient(#4bd287, #3cc579); background: -moz-linear-gradient(#4bd287, #3cc579); background: -ms-linear-gradient(#4bd287, #3cc579); background: -o-linear-gradient(#4bd287, #3cc579); background: linear-gradient(#4bd287, #3cc579); -pie-background: linear-gradient(#4bd287, #3cc579) }
.btn2 .ico { width: 35px; height: 35px; position: absolute; left: 10px; top: 10px; background-position: 0 -114px }
.btn2.resum-btn { background: #5b97d2; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5b97d2), to(#4c89c5)); background: -webkit-linear-gradient(#5b97d2, #4c89c5); background: -moz-linear-gradient(#5b97d2, #4c89c5); background: -ms-linear-gradient(#5b97d2, #4c89c5); background: -o-linear-gradient(#5b97d2, #4c89c5); background: linear-gradient(#5b97d2, #4c89c5); -pie-background: linear-gradient(#5b97d2, #4c89c5) }
.btn2.resum-btn .ico { background-position: -52px -114px }
.btn2.logout-btn { background: #e86863; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e86863), to(#db5954)); background: -webkit-linear-gradient(#e86863, #db5954); background: -moz-linear-gradient(#e86863, #db5954); background: -ms-linear-gradient(#e86863, #db5954); background: -o-linear-gradient(#e86863, #db5954); background: linear-gradient(#e86863, #db5954); -pie-background: linear-gradient(#e86863, #db5954) }
.btn2.logout-btn .ico { background-position: -100px -114px }
.thanks { background: #e5edf7; border: 1px solid #c6d0dd; font-size: 20px; line-height: 28px; color: #7c96b3; padding: 15px 50px; text-align: center; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; behavior: url(js/PIE.htc); }
.result-page { font-size: 16px; color: #4a4b4d; padding: 0 20px }
.result .row { padding: 0 0 10px }
.result label { font-weight: bold; width: 180px; float: left }
.result label span { float: right }
.result .value { margin: 0 0 0 200px; color: #467db5 }
.result-page .table { font-size: 16px; color: #4a4b4d; }
.result-page .table th { font-size: 14px; font-weight: normal }
.result-page .table td { color: #467db5 }
.result-page .table td strong { color: #4a4b4d }
.result-page .table td, .result-page .table th { padding: 10px 15px }
.popup div.msg-loader {line-height: 30px;}
.popup div.msg-loader img {height: 30px;display: inline;margin-bottom: -10px;margin-left: 5px;}
/*Rregister Form */
.register-form { font-size: 12px; color: #4a4b4d }
.register-form input[type="text"], .register-form input[type="password"], .register-form input[type="email"] { width: 204px }
.register-form select { width: 214px }
.register-form label, .register-form h4 { width: 220px; float: left; font-size: 15px; font-weight: bold; text-align: right; padding: 5px 0 0 }
.register-form h4 { color: #5191d1 }
.register-form .value { display: block; margin: 0 0 0 240px }
.register-form .row { padding: 0 0 20px }
.register-form .row.add-box { padding: 20px 0 0 }
.register-form .names .col { width: 172px; margin: 0 20px 0 0; float: left }
.register-form .value label { font-size: 12px; font-weight: normal; text-align: left; padding: 0; color: #787878; width: auto; display: block; float: none }
.register-form .names input { width: 162px }
.register-form .value .check { width: 92px; float: left }
.register-form .value .checkfull { width: auto; padding: 6px 0 0 }
.register-form .check input { float: left; padding: 0; margin: 0; width: 14px; height: 14px; margin: 2px 5px 0 0 }
.register-form .date .col { width: 112px; float: left; margin: 0 10px 0 0 }
.register-form .date select { width: 110px; }
.register-form .number input { width: 172px; margin: 0 10px 0 0 }
.register-form .big { width: 342px }
.register-form .value .small { width: 80px }
.register-form .value select.small { width: 92px }
.register-form select, .register-form input[type="text"], .register-form input[type="password"], .register-form input[type="email"], textarea { padding: 4px 5px }
.register-form select { height: 28px; line-height: 28px }
.register-form .num { float: left; line-height: 30px; padding: 0 10px 0 0; width: 20px; display: block }
.register-form .tip { font-size: 11px; color: #9cacbb; display: block; line-height: 15px; font-style: italic }
.register-form .col2 { width: 216px; margin: 0 20px 0 0; float: left }
.register-form .col2 input { }
.register-form .col3 { width: 185px; padding: 0 10px 0 0; float: left; display: inline; }
.register-form .board label { padding: 0 0 4px }
.register-form .board .checkfull { padding: 0 }
.register-form .degree { padding: 24px 0 0 }
.register-form .degree .check { width: auto; margin: 0 30px 0 0 }
.sepline { width: 100%; float: left; margin: 0 0 20px; border-bottom: 1px solid #e0e4e8; height: 15px }
.pt25 { padding-top: 25px!important }
.pt30 { padding-top: 30px!important }
.pb0 { padding-bottom: 0!important }
.register-form .names .tip { width: 230px; padding: 4px 0 }
.mxwidth936 { max-width: 945px }
.same-width-btn { padding: 0 }
.same-width-btn .btn-gray > span { width: 40px }
.big-text-sec { font-size: 14px; margin: 5px 0 0; line-height: 24px;}
.q-review { width: 396px; float: left }
.q-review label { font-size: 14px; font-weight: bold; margin: 4px 10px 0 0; float: left }
.q-review select { width: 242px; padding: 3px; line-height: 28px; height: 28px }
.sselect-outer { float: left; position: relative; width: 180px }
.sselect { display: block; font-size: 12px; border: 1px solid #cfcfcf; padding: 2px 20px 2px 5px; height: 24px; line-height: 20px; position: relative; background: url(../images/sprite2.png) no-repeat 155px 4px; line-height: 24px; cursor: pointer }
.sdrop { position: absolute; width: 93%; top: 30px; border: 1px solid #cfcfcf; padding: 5px; background: #fff }
.sdrop ul { list-style: none; overflow: auto; height: auto !important; overflow-x: hidden; font-size: 12px }
.sdrop ul li { width: 100%; float: left; padding: 2px 0 }
.sdrop ul li a { width: 96%; float: left; padding: 2px 2%; color: #4a4b4d }
.sdrop ul li a:hover { background: #eef4fb }
.sdrop ul li span { float: right; color: #3cb243 }
.sdrop ul li span.not { color: #d6140e }
.two-col2 .row {float: none;height: 100%;position: relative;}
.two-col2 .left-col {position: absolute;right: 57%;left: 0;bottom: 20px;top: 0;}
.two-col2 .tabDetails {position: absolute;bottom: 0;top: 47px;left: 0;right: 0; height:100%}
.two-col2 .left-col.hidden {z-index:-1;display: block;left: 0px;position: absolute;top: 53px;margin-bottom: -150px;height: 414px;margin-left: 12px;overflow:hidden;}
.two-col2 .left-col.hidden .tabs-box{position: absolute;left:-100%;top:0;width: 100%;height: 100%;border-right:1px solid #dadada;margin-left: -1px;}
/*.two-col2 .left-col.hidden .tabContents {height: 367px !important;}*/
.two-col2 .right-col .btn-row2 { width: 100%; float: none; border-bottom: 1px solid #dadada;}
.two-col2 .right-col {/* width: 57%; */position: absolute;/*border-left: 1px solid #dadada;*//* margin-left: -2px; *//* margin-bottom: -12px; *//* height: 100%; *//* position: relative; */left: 43%;top: 0;bottom: 20px;right: 0;}
.two-col2 .right-col .p12{ padding-bottom: 0 !important;}
.two-col2 div.editon {position: absolute;top: 53px;bottom: 0;left: 12px;right: 12px;}
.editor-container {position: absolute;height: auto;/* height: 412px; */width: 100%;/* float: right; */top: 28px;right: 0;bottom: 0;left: 0;}
.two-col2 #editor {width: 100%;height: 100%;}
.two-col2 .right-col.expand { width: 100%; float: none;border-left:0 none;margin-left:0;}
.sepline-h { height: 99.8%; position: absolute; border-left: 1px solid #dadada; left: 43%; top: 0; width: 1px }
.tabs-box .tabs { padding: 0 3px; margin-bottom: 15px; overflow: hidden; list-style: none; background: #D7E6F4; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D7E6F4), to(#ffffff)); background: -webkit-linear-gradient(#D7E6F4, #ffffff); background: -moz-linear-gradient(#D7E6F4, #ffffff); background: -ms-linear-gradient(#D7E6F4, #ffffff); background: -o-linear-gradient(#D7E6F4, #ffffff); background: linear-gradient(#D7E6F4, #ffffff); -pie-background: linear-gradient(#D7E6F4, #ffffff); behavior: url(js/PIE.htc); }
.tabs-box .tabs li { float: left; background: url(../images/sprite2.png) no-repeat -256px 0; padding: 4px 4px 0 5px }
.tabs-box .tabs li a { float: left; font-size: 14px; font-weight: bold; color: #838383; padding: 5px 15px; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; behavior: url(js/PIE.htc); }
.tabs-box .tabs li a:hover, .tabs-box .tabs li a.active { background: #DA001A; color: #FFFFFF } /*{ background: #fff; color: #da001a }*/
.tabs-box .tabs li.first { background: none }
.tabs-box { font-size: 13px; color: #4a4b4d;  background:#fff;}
.tabs-box .tabs li.hide-btn {display:none;float: right;background: transparent;color: #8f8f8f;}
.two-col2 .left-col.hidden li.hide-btn {cursor:pointer;display:block;}
.tabs-box li.hide-btn span {float: right;border-right: 10px solid #000;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid transparent;height: 0;margin-left: -8px;}
.two-col2 div.show-btn {position: absolute;left: 0px;top: 61px;}
.two-col2 div.show-btn span {cursor: pointer;border-left: 15px solid #000;border-top: 15px solid transparent;border-bottom: 15px solid transparent;height: 0px;float: right;}
.pt0 { padding-top: 0!important }
.tabContents { overflow-y: auto; overflow-x: hidden; margin-right: 6px; height: 416px!important;}
.full-screen-page { padding: 20px 0 }
.full-screen { float: right; color: #5090cf; background-position: -182px -28px; padding: 0 0 0 20px; font-size: 11px; margin: 5px 0 0 }
.full-screen.exitfull { background-position: -182px -52px; padding-left: 25px }

/*All btns*/
button { width: 0; overflow: visible; border: none; background: none; cursor: pointer }
button[class] { width: auto; }
.btn-row2 { padding: 0 0 8px }
.btns { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; background: none; cursor: pointer; white-space: nowrap; overflow: visible; line-height: 36px; height: 36px; color: #fff; padding: 0 10px!important; border: none; display: inline-block; vertical-align: top; margin: 0 2px!important; font-size: 13px; behavior: url(js/PIE.htc); position: relative; background: #3fcf7f; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3fcf7f), to(#3cc579)); background: -webkit-linear-gradient(#3fcf7f, #3cc579); background: -moz-linear-gradient(#3fcf7f, #3cc579); background: -ms-linear-gradient(#3fcf7f, #3cc579); background: -o-linear-gradient(#3fcf7f, #3cc579); background: linear-gradient(#3fcf7f, #3cc579); -pie-background: linear-gradient(#3fcf7f, #3cc579) }
.btns.bblue { background: #5191d1; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5191d1), to(#4d8ac7)); background: -webkit-linear-gradient(#5191d1, #4d8ac7); background: -moz-linear-gradient(#5191d1, #4d8ac7); background: -ms-linear-gradient(#5191d1, #4d8ac7); background: -o-linear-gradient(#5191d1, #4d8ac7); background: linear-gradient(#5191d1, #4d8ac7); -pie-background: linear-gradient(#5191d1, #4d8ac7) }
.btnsm { line-height: 32px; height: 32px }
.btns > span { padding: 0 0 0 22px; display: block; font-size: 11px }
.btns > span span { width: 22px; height: 22px; float: left; margin: -11px 0 0 0; position: absolute; left: 10px; top: 50% }
.btns strong { display: block; font-size: 10px; color: #bde4bf; font-weight: normal }
.btns-t span { line-height: 12px }
.btns-t { text-align: left; font-size: 13px }
.btns.bsave span span { background-position: -8px -164px }
.btns.bcompile span span { background-position: -38px -164px }
.btns.bssubmt span span { background-position: -71px -164px }
.test-center-outer { position: absolute; top: 50%; left: 50%; width: 398px; margin: -205px 0 0 -170px }
.test-center-outer .logobg { background: url(../images/pc.png) no-repeat 0 0; width: 398px; height: 270px }
.test-center-outer .logobg img { float: left; margin: 82px }
.bor-top { border-top: 3px solid #d6140e; width: 100%; float: left; position: absolute; top: 01; left: 0 }
.btn3 { line-height: 68px; height: 68px; color: #fff; padding: 0 25px 0 55px; text-align: center; border: none; display: inline-block; font-size: 24px; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; behavior: url(js/PIE.htc); position: relative; font-weight: normal; position: relative; background: #4bd287; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4bd287), to(#3cc579)); background: -webkit-linear-gradient(#4bd287, #3cc579); background: -moz-linear-gradient(#4bd287, #3cc579); background: -ms-linear-gradient(#4bd287, #3cc579); background: -o-linear-gradient(#4bd287, #3cc579); background: linear-gradient(#4bd287, #3cc579); -pie-background: linear-gradient(#4bd287, #3cc579); width: 220px }
.m0uto { margin: 0 auto; display: block }
.btn3 .ico { width: 52px; height: 42px; position: absolute; left: 10px; top: 10px; background-position: -136px -144px }
.btns-page .row { padding: 0 0 10px }
.btn.wauto > span { width: auto }
.stop > span span { background: url(../images/sprite.png) no-repeat -60px -197px; margin-left: 20px }
.optionbtn > span span { background: url(../images/sprite.png) no-repeat -90px -196px; margin-left: 20px }
.playbnt > span span { background: url(../images/sprite.png) no-repeat -113px -196px; margin-left: 25px; width: 24px }
.playbnta > span span { background: url(../images/sprite.png) no-repeat -113px -196px; margin-left: 10px; width: 24px }
.speakbtn > span span { background: url(../images/sprite.png) no-repeat -146px -196px; margin-left: 10px; width: 24px; height: 24px }
.blue2-btn span { background: #a1c0c4; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a1c0c4), to(#99b6ba)); background: -webkit-linear-gradient(#a1c0c4, #99b6ba); background: -moz-linear-gradient(#a1c0c4, #99b6ba); background: -ms-linear-gradient(#a1c0c4, #99b6ba); background: -o-linear-gradient(#a1c0c4, #99b6ba); background: linear-gradient(#a1c0c4, #99b6ba); -pie-background: linear-gradient(#a1c0c4, #99b6ba) }
.btn.w70-btn > span { width: 70px }
.blue3-btn span { background: #10c6db; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#10c6db), to(#0fbcd0)); background: -webkit-linear-gradient(#10c6db, #0fbcd0); background: -moz-linear-gradient(#10c6db, #0fbcd0); background: -ms-linear-gradient(#10c6db, #0fbcd0); background: -o-linear-gradient(#10c6db, #0fbcd0); background: linear-gradient(#10c6db, #0fbcd0); -pie-background: linear-gradient(#10c6db, #0fbcd0) }

.btn.disabledbtn, .btn.disabledbtn2, a.disabledbtn, a.disabledbtn2, .disabledbtn, .btn2.disabledbtn, .btn.btnDisabled > span{ cursor:not-allowed!important}
.disabledbtn span, .btn.disabledbtn span, .btns.disabledbtn2, .btn2.disabledbtn,.btn.btnDisabled > span{ background: #d2d2d2; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d2d2d2), to(#c7c7c7)); background: -webkit-linear-gradient(#d2d2d2, #c7c7c7); background: -moz-linear-gradient(#d2d2d2, #c7c7c7); background: -ms-linear-gradient(#d2d2d2, #c7c7c7); background: -o-linear-gradient(#d2d2d2, #c7c7c7); background: linear-gradient(#d2d2d2, #c7c7c7); -pie-background: linear-gradient(#d2d2d2, #c7c7c7); color:#828282;  }
.disabledbtn.confirm > span span { background: url(../images/sprite.png) no-repeat -32px -197px }
.disabledbtn.continue > span span { background: url(../images/sprite.png) no-repeat 0 -197px }
.disabledbtn.close-btn > span span { background: url(../images/sprite.png) no-repeat -177px -197px }
.disabledbtn.login > span span {background: url(../images/sprite.png) no-repeat 0px -230px}
.disabledbtn.resume-btn > span span{background: url(../images/sprite.png) no-repeat -27px -231px}
.disabledbtn.playbnt > span span{background: url(../images/sprite.png) no-repeat -113px -236px}
.disabledbtn.playbnta > span span{background: url(../images/sprite.png) no-repeat -113px -236px}
.disabledbtn.speakbtn > span span{background:url(../images/sprite.png) no-repeat -146px -236px}
.disabledbtn.stop > span span{background:url(../images/sprite.png) no-repeat -60px -236px}
.disabledbtn.back > span span{background:url(../images/sprite.png) no-repeat -175px -235px}
.disabledbtn.optionbtn > span span {background: url(../images/sprite.png) no-repeat -90px -236px}
.btns.disabledbtn2 strong{color:#828282; }
.btns.disabledbtn2.bsave span span{background-position: -8px -264px;}
.btns.disabledbtn2.bcompile span span{background-position: -38px -264px;}
.btns.disabledbtn2.bssubmt span span{background-position: -71px -264px}




.radioButtonCol { width: 48%; padding: 0 10px 0 0; float: left; display: inline; }
.divClear {clear:both;}
.textAreaQuestion { width: 470px; height: 330px; font-family: Arial, Helvetica, sans-serif }
.textAreaQuestionMain { width: 750px; height: 85px; font-family: Arial, Helvetica, sans-serif }
.sdrop ul li span.black { color: #4A4B4D }
.texterrorred { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration:none; display:none; padding-left: 10px;}
.texterrorred:link { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration:none; padding-left: 10px;}
.texterrorred:visited { font-family: Verdana, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration:none; padding-left: 10px;}
.modeOfEdu { width: 112px !important;}
.lineSpace {height: 10px;}
.cgpaField {float:none;clear:none;padding-left:18px;}
.permAddDetails {height:auto !important; margin:0px !important;}
.compilerButtonColor {color:#FFFFFF; width: 100%; height: 100%; display: block;}
.compilerSubmitButtonColor {color:#828282;}

/*#frame_rdoAnswerTmp { width: 547px !important;}*/
#frame_rdoAnswerTmp {top: 0px !important; left:-18px !important;}
.smallForm {padding-left:150px !important; padding-right:10px !important;}
.helpHeading {font-size:20px; padding-right: 50px;}
#sjtOptions input {float:right;}
#personalityOptionDiv {width:100% !important; font-size:12px !important;}
#personalityFont {font-size: 13px !important;}
#liPersonality{ margin: 0 0 5px !important; padding: 0 0 5px !important;}
#questDivPersonality{ height:3px !important}
#testDirectionInstructions {padding-left:30px !important}
.hospTD {padding-left:21px; padding-right: 10px; width:450px;}
.tdDup {color:#FF0000; font-weight:bold;}
#loadingID {float:left; width:10px; margin-right:8px; padding-top:10px; vertical-align:center;display: none;}
.sselect-outer.lang {width: 100px; float:right;}
#sselectIDLang {background: url(../images/sprite2.png) no-repeat scroll 76px 4px rgba(0, 0, 0, 0) !important;}
#sdropIDLang {display:none; width: 85%; }
.image-info { border-left: 1px solid #CBCBCB; color: #767676; float: left; margin-left: 10px; padding: 5px 15px 0px 10px; margin-top: -5px;}
.greyBtn{background: #d2d2d2 !important; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d2d2d2), to(#d2d2d2)) !important; background: -webkit-linear-gradient(#d2d2d2, #d2d2d2) !important; background: -moz-linear-gradient(#d2d2d2, #d2d2d2) !important; background: -ms-linear-gradient(#d2d2d2, #d2d2d2) !important; background: -o-linear-gradient(#d2d2d2, #d2d2d2) !important; background: linear-gradient(#d2d2d2, #d2d2d2) !important; -pie-background: linear-gradient(#d2d2d2, #d2d2d2) !important;}
.btns.orange { background: #FF8000; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF8000), to(#FF8000)); background: -webkit-linear-gradient(#FF8000, #FF8000); }
.hiddenbtn{display:none;}
.text-scroll ol {
padding-left: 25px;
}

.text-scroll ul {
padding-left: 20px;
}

.class_lang  ol{
padding: 0px 25px 0px 20px;
}

.class_lang ul {
padding: 0px 10px 0px 20px;
}

.class_lang li {
	list-style:inherit !important;
}

.popup.helpPopup {
  width: 600px !important;
}

.text12green ol {
padding: 0px 10px 0px 20px;
}

.text12green ul{
padding: 0px 10px 0px 20px;
}

.q ol li {
	list-style:inherit !important;
}

.q sub {
	font-size:smaller !important;
	vertical-align:sub !important;
}

.q ol{
padding: 0px 10px 0px 20px;
}

.q ul li {
	list-style:inherit !important;
}

.q ul{
padding: 0px 10px 0px 20px;
}

.text-sec ol{
padding: 0px 10px 0px 20px;
}

.register-form .value .width1 { width: 115px !important; }

.ui-autocomplete {
	overflow-y: auto;
	overflow-x: hidden;
	max-height:200px;
}

.centered-image {
	margin: 0px auto;
}

#loading2 {width: 100%;height: 100%;	top: 0px;left: 0px;position: fixed;display: none;opacity: 0.7;
		background-color: #ccc;	z-index: 99;text-align: center;}
		
#loading2 #loading-image{
    position: absolute;
    left: 50%;
    top: 50%;
margin: -35px 0 0 -35px;
}


@charset "utf-8";
.btn-calc {
	position: fixed;
	right: 0px;
	top: 40%;
	width: 34px !important;
	/*padding: 6px;*/
	height: 210px !important;
	background: #4D8AC6 !important;
	
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family: Arial;
	color: #FFFFFF;
	font-size: 15px;
	padding: 10px !important;
	text-decoration: none;
	font-weight: bold !important;
}

.btn-calc:hover {
	background: #456b9b;
   text-decoration: none;
}

.amazon-wrapper #disclaimerLoginPage{
    padding: 0;
    position: absolute;
    top: 50%;
    margin: 120px 15% 0;
}
.tabDetails sub {
	font-size:smaller !important;
	vertical-align:sub !important;
}

.zoomDi{
display:none;
}
.upperZoomContainer{
width:100%;
height:100%;
}
.zoomThumbnailDiv{
float: left;
margin: 10px;
text-align: center;
}
.zoomThumbnail{
    width: 90px;
    height: 90px;
   
}
.zoomThumbnail,.zoomIco:hover{
	cursor:zoom-in;
}
.zoomImg{
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    vertical-align: middle;
}
.goBackBtn{
    float: right;
    font-weight: bold;
    position: relative;
    top: 60px;
    right: 40px;
    border: 1px solid;
    padding: 4px 8px 4px 8px;
    border-radius: 5px
}
.goBackBtn:hover{
background-color: #5191d1;
	color: white;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.innerZoomContainer{
	cursor: auto;
	width: 49%;
    height: 540px;
    max-height: 540px;
    background: white;
    border: 1px solid #e0e4e8;
    overflow: hidden;
    margin-left: 5px;
    border-radius: 3px;
	-webkit-box-shadow: 4px 4px 21px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 21px -5px rgba(0,0,0,0.75);
box-shadow: 4px 4px 21px -5px rgba(0,0,0,0.75);
}
#myModal{
cursor: pointer;
}
.zoomDiv{
    height: 420px;
	line-height: 420px;
	    border-bottom: 1px solid #e0e4e8;
    margin-bottom: 2px;
}
.contentCenter{
text-align: center;
}
.zoomIco{
    background-image: url(/images/zoom-icon.ico);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: relative;
    top: 21px;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/images/ajax-loading.gif') 50% 50% no-repeat rgb(249,249,249);
	opacity:0.4;
}
