<!DOCTYPE html>
<html lang="en" ng-app="marktai">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mark Tai</title>

    <!-- Bootstrap Core CSS -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./bower_components/clean-blog/css/clean-blog.min.css" rel="stylesheet">


    <!-- Mark's (terrible) CSS -->
    <link href="./css/meta-tic-tac-toe.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/ico" href="/favicon.png"></link>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67739805-1', 'auto');
        ga('send', 'pageview');

    </script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="MainCtl">

    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Meta Tic Tac Toe</a>
                </div>

                <ul class="nav navbar-nav navbar-right" ng>
 
                    <li class="dropdown" ng-show="$root.loggedIn()" ng-cloak>
					   <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" ng-cloak>{{$root.username}}<span class="caret"></a>
                        <ul id="login-dp" class="dropdown-menu">
                          <li>
                           <div class="row">
                              <div class="col-md-12">
								  <h3 style="margin-top:0px;">Login:</h3>
								  <ul>
									  <li><a href="#/profile">Profile</a></li>
								  </ul>
                              </div>
                              <div class="bottom text-center">
							      <button class="btn btn-danger" ng-click="$root.logout()">Logout</button>
							  </div>
                           </div>
                          </li>
                        </ul>
                    </li>               


                    <li class="dropdown" ng-show="!$root.loggedIn()" ng-cloak>
                      <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                          <li>
                           <div class="row">
                              <div class="col-md-12">
								  <h3 style="margin-top:0px;">Login:</h3>
                                  <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2" >Username</label>
                                    <input id="exampleInputEmail2" placeholder="Username" required ng-model="$root.username" ng-enter="$root.login()">
                                  </div>
                                  <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                    <input type="password" id="exampleInputPassword2" placeholder="Password" required ng-model="$root.password" ng-enter="$root.login()">
                                    <!-- <div class="help-block text-right"><a href="">Forget the password ?</a></div> -->
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                    <input type="checkbox" ng-model="$root.stayLoggedIn"> Stay logged in
                                    </label>
                                  </div>
                                  <div class="form-group">
                                    <button ng-click="$root.login()" class="btn btn-primary btn-block">Sign In</button>
                                  </div>
                              </div>
                              <div class="bottom text-center">
                                  New here? <a href="#/register"><b>Register</b></a>
                              </div>
                           </div>
                          </li>
                        </ul>
                    </li>
				</ul>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li>
                            <a href="#/game">Game</a>
                        </li> -->
                        <!-- <li>
                            <a href="#/login">Login</a>
                        </li>
                        <li>
                            <a href="#/register">Register</a>
                        </li> -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    </header>


    <!-- MAIN CONTENT -->
    <div>

      <div ng-view></div>

    </div>
    

    <!-- Footer -->
    <footer ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./bower_components/clean-blog/js/clean-blog.min.js"></script>



    <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-touch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>

    <script src="./bower_components/ng-websocket/ng-websocket.js"></script>
	<script src="./bower_components/ngstorage/ngStorage.min.js"></script>
	<script src="./bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>

    <!-- Put at end so other pages can set title -->
    <title>Meta Tic Tac Toe</title>
    <script src="./pages/global/main.js"></script>

    <script src="./js/services/LoginService.js"></script>
    <script src="./js/services/UserService.js"></script>
    <script src="./js/services/GameService.js"></script>



    <script src="./pages/404/404Ctl.js"></script>
    <script src="./pages/login/LoginCtl.js"></script>
    <script src="./pages/register/RegisterCtl.js"></script>
    <script src="./pages/game/GameCtl.js"></script>
    <script src="./pages/profile/ProfileCtl.js"></script>


</body>

</html>
