<!-- hmac-sha256 library -->
<script
  src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer
></script>


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!-- <header class="intro-header" style="background-image: url('https://www.marktai.com/img/lock-bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Meta Tic Tac Toe</h1>
                    <hr class="small">
                    <span class="subheading">Register</span>
                    <p class="post-meta"></p>
                </div>
            </div>
        </div>
    </div>
</header> -->

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <h1>Register</h1>


				<form ng-submit="register()">
					<div class="form-group" ng-submit="login()">
						<label for="usr">Username:</label>
						<input type="text" ng-model="username" class="form-control" id="usr">
					</div>
					<div class="form-group" ng-submit="login()">
						<label for="usr">Email:</label>
						<input type="text" ng-model="email" class="form-control" id="email">
					</div>
					<div class="form-group" ng-submit="login()">
						<label for="usr">Verify Email:</label>
						<input type="text" ng-model="verify_email" class="form-control" id="register-email">
					</div>
					<div class="form-group" ng-submit="login()">
						<label for="pwd">Password:</label>
						<input type="password" ng-model="password" class="form-control" id="pwd">
					</div>
					<div class="form-group" ng-submit="login()">
						<label for="verify_pwd">Verify Password:</label>
						<input type="password" ng-model="verify_password" class="form-control" id="register-pwd">
					</div>
					<div vc-recaptcha key="'6LcK2xsTAAAAAEPV3UCVYGuPE21lpzwf0CNaEGE6'" ng-model="gRecaptcha.response" on-create="setWidgetId(widgetId)" on-success="$apply()" on-expire="cbExpiration()" ></div>	
				</form>
				
				<button ng-click="register()" class="btn btn-default">Register</button>
                <!-- <button ng-click="verifySecret()" class="btn btn-default">Verify Secret</button> -->
				


				<p ng-show = "out" style = "white-space:pre-wrap; word-wrap: break-word" ng-bind='out' ></p>
            </div>
        </div>
        
        <div ng-bind="error"> </div>
    </div> 
</article>
