<!-- hmac-sha256 library -->
<script
  src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer
></script>


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!-- <header class="intro-header" style="background-image: url('https://www.marktai.com/img/lock-bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Meta Tic Tac Toe</h1>
                    <hr class="small">
                    <span class="subheading">こんにちは</span>
                    <p class="post-meta"></p>
                </div>
            </div>
        </div>
    </div>
</header> -->

<!-- Post Content -->
<article>
    <div class="container-fluid">
                
        

    <div ng-bind="error"> </div>
    </div> 
    <div class="container"
        ng-hide = "userid == -1"
        resize
    >
        <br>
        <div class = "row" >
            <div class = "col-md-12 col-lg-8" 
                style="min-width:362px;" 
            > 
        <h1 style="text-align: center">Game</h1>
                <div align= "center"
                	style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; min-width:362px;" 
                	unselectable="on"
               		onselectstart="return false;" 
                	onmousedown="return false;"
		>
                    <div ng-repeat = "i in [0,1,2]">
                        <div ng-repeat = "j in [0,1,2]"> 
                            <span ng-repeat = "k in [0,1,2]">
                                <span ng-repeat = "m in [0,1,2]">
                                    <canvas id = "box{{3*i + k}}-{{3*j + m}}"  width="{{boxSize}}" height="{{boxSize}}" style="border:1px solid {{( (3*i + k) % 2) ? 'blue' : 'red'}}" ng-click="canvasClicked({{3*i + k}}, {{3*j + m}})"></canvas>
                                </span>
                                <span ng-bind="$last ? '' : '&nbsp;'.repeat(spaces)"></span>
                            </span>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-lg-4">
                <p ng-show = "whoseTurn" ng-bind='whoseTurn'></p>     
                <button ng-click="refresh()" class="btn btn-default">Refresh</button>
                <br><br>
                
                <div style="max-height:200px; min-height:40px; border:1px solid #ccc;overflow:auto;">
                    <h2>Chat</h2>
                    <hr>
                    <p style="margin-top:0; margin-bottom:5px" ng-repeat = "chat in chats">{{chat}}</p>
                </div>

                <input type="text" ng-model="chatbox" ng-enter="sendChat()" id="chat"></input>
                <button ng-click="sendChat()" ng-disabled="chatbox === ''" class="btn btn-default">Send Chat</button>
				<br>
            </div>
        </div>
    </div>
</article>
